[Unit]
Description=Instanciates TimelessOS User

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/timeless-firstboot-user

[Install]
WantedBy=default.target