[Unit]
Description=Instanciates TimelessOS
ConditionFirstBoot=yes
Before=sddm.service
Conflicts=sddm.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/timeless/timeless-firstboot

User=root
TTYPath=/dev/tty1
StandardInput=tty

UnsetEnvironment=TERM

UtmpIdentifier=tty1
UtmpMode=user

[Install]
WantedBy=default.target