[Unit]
Description=Install Default Apps
ConditionPathExists=!/var/lib/.flatpaks-installed
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/timelessos/install-flatpaks

[Install]
WantedBy=default.target
